<body>
{{title}}
<hr/>

<!-- <img [src]="pic" />

<table class="table table-bordered">
<tr>
  <td>s1</td><td [attr.colspan]="col">Name</td>
</tr>

</table>
<ul class="list-group">
  <li class="list-group-item" [class.active]="isActive">Link1</li>
  <li class="list-group-item">Link2</li>
  <li class="list-group-item">Link3</li>
</ul> -->

<!-- <input #abc type="text" class="form-control" (keyup.enter)="test(abc.value);"/> 
{{invalue}}
<input [(ngModel)]="email" type="text" class="form-control"  /> //double binding
{{email}}

<input [(ngModel)]="currency" type="text" class="form-control"/>
{{currency | currency:'EUR'}}

<input [(ngModel)]="dob" type="date" class="form-control" />
{{dob |date:'fullDate'}    

<button class="btn btn-info" >Add</button> -->

<!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">Home</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Profile</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Contact</div>
</div>
<hr/>

<input [(ngModel)]="email"/>
<input #hobby type="text" (keyup.enter)="addHobby(hobby.value);"/>
<div *ngFor="let i of hobbies">
  {{i.name}}
</div>
<!--<button class="btn btn-info" (click)="handleClear()" >Delete</button> -->
<!-- <div *ngIf="!isLoggedin">
  <app-login></app-login>
  </div>
  </body> --> 
  <html>
<body bgcolor="blue">
  <a href="#" (click)="updatelink('hobby')">Hobby</a> | <a href="#" (click)="updatelink('addhobby')">Add Hobby</a> | <a href="#" (click)="updatelink('addfav')">Add To Favourites</a>
  <app-home [msg]="link" [hobbylist]="hobbies" (newhobby)="addHobby($event)"></app-home>
  <p>Phone:{{phoneNumber | phoneformat}}</p>
</body>
  </html>

